// Variables
@import "variables";

body {
    margin: 0;
    background-color: #fff;
    font-family: "Source Sans Pro", sans-serif;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: $primary;
}

.footer {
    padding: 13px;
}

.winners-list {
    min-height: 220px;
    user-select: none;
    position: relative;
    .MuiTabs-root {
        border-bottom: 1px solid $border;
    }
    &:hover {
        .toolbar,
        .toolbar .actions,
        .MuiTabScrollButton-root:not(.Mui-disabled) {
            opacity: 1;
        }
    }
    .toolbar {
        opacity: 0.5;
        transition: opacity 0.4s ease-out;
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: stretch;
        height: 35px;
        & > * {
            height: 100%;
        }
        .title {
            background: $primary;
            color: #fff;
            padding: 0 7px;
            text-transform: lowercase;
            font-variant: small-caps;
        }
        .actions {
            transition: opacity 0.4s ease-out;
            opacity: 0;
        }
    }
    .MuiTabs-flexContainer {
        padding: 0 14px;
    }
    .MuiTabScrollButton-root {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: 80px;
        opacity: 0;
        svg {
            font-size: 3.25rem;
            color: $primary;
        }
        &:first-of-type {
            left: 0;
            background: linear-gradient(
                90deg,
                #fff 33%,
                rgba(255, 255, 255, 0)
            );
        }
        &:last-of-type {
            right: 0;
            background: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0),
                #fff 80%
            );
        }
    }
    .MuiTabs-indicator {
        display: none;
    }
}

.winner-container {
    position: relative;
    max-height: 190px;
    min-width: 440px;
    border-right: 1px solid $border;
    .winner {
        cursor: pointer;
        margin: 0 17px;
        padding: 13px;
        display: flex;
        &:not(.open) {
            .picture {
                transition: box-shadow 0.2s ease-out;
            }
            &:hover {
                .picture {
                    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.096);
                }
            }
            &:active {
                .picture {
                    box-shadow: none;
                }
            }
        }
        &.open {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            & .confetti {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            & > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .picture {
                    margin-right: 0;
                    margin-bottom: 25px;
                }
            }
            .picture {
                width: 340px;
                height: 340px;
            }
        }
        .picture {
            background-color: rgb(255, 255, 255);
            border: 1px solid $border;
            border-radius: 23px;
            width: 140px;
            min-width: 140px;
            height: 140px;
            margin-right: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 90%;
            }
        }
        .details {
            word-break: break-all;
            white-space: pre-wrap;
            .school {
                color: rgb(131, 131, 131);
            }
        }
    }
}

.raffle-container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
    }
    .raffle-item {
        background: transparent;
        border: none;
        outline: none;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        display: block;
        font-size: 2rem;
        color: $primary;
        font-weight: 700;
        margin-bottom: 100px;
    }
    .raffler-container {
        height: 330px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        user-select: none;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 115px;
            z-index: 1;
        }
        &::before {
            top: 0;
            background: linear-gradient(#fff, transparent);
        }
        &::after {
            bottom: 0;
            background: linear-gradient(transparent, #fff);
        }
        .winner {
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-color: $primary;
            width: 100%;
            height: 70px;
            position: relative;
            &.saving::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(255, 255, 255, 0.7) url("/img/loading.svg")
                    no-repeat center;
                width: 100%;
                height: 100%;
            }
        }
        .participants {
            position: absolute;
            transform-origin: bottom;
            bottom: 144px;
            text-align: center;
            z-index: -1;
            width: 100%;
            p {
                font-size: 2rem;
                -webkit-font-smoothing: antialiased;
            }
        }
    }
}

.spinning {
    animation: spinning;
    animation-duration: 15s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0, 1.05, 0.75, 1);
    animation-fill-mode: forwards;
}

.highlighted {
    color: $secondary;
}

.draw-button {
    padding: 10px 30px;
    width: auto;
    text-transform: uppercase;
    color: #fff;
    background: $secondary;
    border: none;
    border-radius: 13px;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 40px;
    transition: box-shadow 0.2s ease-out;
    &:hover {
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.26);
    }
    &:active {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
    }
}
