// Variables
@import "variables";

body {
    margin: 0;
    background-color: #fff;
    font-family: "Source Sans Pro", sans-serif;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: $primary;
}

.footer {
    padding: 13px;
}

.backdrop {
    background: rgba(255, 255, 255, 0.75) !important;
    z-index: 2 !important;
    backdrop-filter: blur(20px);
}

.winners-list {
    min-height: 220px;
    user-select: none;
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    border-left: 10px solid $primary;
    width: 430px;
    &.close {
        right: -440px;
    }
    & .trophy-button + .MuiGrid-root {
        flex-wrap: nowrap;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        padding-bottom: 30px;
    }
    .congrats {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 72px;
        font-weight: 800;
        color: #fff;
    }
    &.open {
        .winner.open,
        .confetti {
            left: calc(100% - 100vw) !important;
        }
        .winner.open > div:last-of-type {
            z-index: 10;
            width: 100%;
            max-width: 1330px;
            box-shadow: 0px 4px 111px rgba(0, 0, 0, 0.13);
            border-radius: 77px;
            background: #fff;
            position: relative;
            overflow: hidden;
            padding-top: 130px;
            padding-bottom: 50px;
            & > * {
                z-index: 1;
            }
            &::before {
                content: "Congratulations";
                position: absolute;
                z-index: 0;
                height: 492px;
                left: -320px;
                right: -320px;
                border-radius: 50%;
                top: -328px;
                background: $primary;
            }
        }
        .confetti {
            z-index: 5;
            background: rgba(255, 255, 255, 0.6);
            backdrop-filter: blur(20px);
        }
    }
    &.peak {
        right: 5px;
    }
    .MuiTabs-root {
        border-bottom: 1px solid $border;
    }
    &:hover {
        .toolbar,
        .toolbar .actions,
        .MuiTabScrollButton-root:not(.Mui-disabled) {
            opacity: 1;
        }
    }
    .toolbar {
        opacity: 0.5;
        transition: opacity 0.4s ease-out;
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: stretch;
        height: 35px;
        & > * {
            height: 100%;
        }
        .title {
            background: $primary;
            color: #fff;
            padding: 0 7px;
            text-transform: lowercase;
            font-variant: small-caps;
        }
        .actions {
            transition: opacity 0.4s ease-out;
            opacity: 0;
        }
    }
    .MuiTabs-flexContainer {
        padding: 0 14px;
    }
    .MuiTabScrollButton-root {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: 80px;
        opacity: 0;
        svg {
            font-size: 3.25rem;
            color: $primary;
        }
        &:first-of-type {
            left: 0;
            background: linear-gradient(
                90deg,
                #fff 33%,
                rgba(255, 255, 255, 0)
            );
        }
        &:last-of-type {
            right: 0;
            background: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0),
                #fff 80%
            );
        }
    }
    .MuiTabs-indicator {
        display: none;
    }
}

.winner-container {
    position: relative;
    max-height: 190px;
    min-width: 440px;
    .winner {
        cursor: pointer;
        padding: 13px;
        display: flex;
        &:not(.open) {
            .picture {
                transition: box-shadow 0.2s ease-out;
            }
            &:hover {
                .picture {
                    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.096);
                }
            }
            &:active {
                .picture {
                    box-shadow: none;
                }
            }
        }
        &.open {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            & .confetti {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            & > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .picture {
                    margin-right: 0;
                    margin-bottom: 25px;
                }
            }
            .picture {
                width: 140px;
                height: 140px;
            }
        }
        .picture {
            background-color: rgb(255, 255, 255);
            border: 1px solid $border;
            border-radius: 23px;
            width: 140px;
            min-width: 140px;
            height: 140px;
            margin-right: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 90%;
            }
        }
        .details {
            word-break: break-all;
            white-space: pre-wrap;
            .school {
                font-style: normal;
                font-weight: 600;
                font-size: 29px !important;
                line-height: 43px;

                color: #5a5a5a;
            }
            .name {
                color: $primary;
                font-weight: 700 !important;
            }
            .item {
                font-size: 96px;
                color: #000;
                font-weight: 800;
            }
            .winning-the {
                margin-top: 28px;
                color: lighten($color: $primary, $amount: 5);
                font-weight: 700;
                font-size: 32px;
            }
        }
    }
}

.raffle-container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    min-height: 770px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
    }
    .raffle-item-container {
        margin-bottom: 100px;
        text-align: center;
        &:hover .select {
            opacity: 1;
        }
        .select {
            opacity: 0;
            transition: opacity 0.3s ease-out;
        }
    }
    .raffle-item {
        background: transparent;
        border: none;
        outline: none;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 96px;
        line-height: 144px;
    }
    .raffler-container {
        height: 330px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        user-select: none;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 115px;
            z-index: 1;
        }
        &::before {
            top: 0;
            background: linear-gradient(#fff, transparent);
        }
        &::after {
            bottom: 0;
            background: linear-gradient(transparent, #fff);
        }
        .winner {
            border-top: 4px solid;
            border-bottom: 4px solid;
            border-color: $primary;
            width: 100%;
            height: 70px;
            position: relative;
            &::after,
            &::before {
                content: "";
                position: absolute;
                top: -4px;
                bottom: -4px;
                width: 370px;
                z-index: 3;
            }
            &::before {
                left: 0;
                background: linear-gradient(90deg, #fff, transparent);
            }
            &::after {
                right: 0;
                background: linear-gradient(-90deg, #fff, transparent);
            }
            &.saving::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(255, 255, 255, 0.7) url("/img/loading.svg")
                    no-repeat center;
                width: 100%;
                height: 100%;
            }
        }
        .participants {
            position: absolute;
            transform-origin: bottom;
            bottom: 144px;
            text-align: center;
            z-index: -1;
            width: 100%;
            p {
                font-size: 2rem;
                -webkit-font-smoothing: antialiased;
            }
        }
    }
}

.spinning {
    animation: spinning;
    animation-duration: 15s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0, 1.05, 0.75, 1);
    animation-fill-mode: forwards;
}

.highlighted {
    color: $secondary;
}

.draw-button {
    padding: 10px 30px;
    width: 476px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 13px;
    outline: none;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 500;
    margin: 40px auto;
    transition: box-shadow 0.2s ease-out;
    background: $primary;
    box-shadow: 0px 4px 17px 14px rgba(0, 0, 0, 0.06);
    border-radius: 67px;
    &.spin {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    &:hover {
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.26);
    }
    &:active {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
    }
}

.trophy-button {
    position: absolute !important;
    top: 58px;
    left: -111px;
    width: 102px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px 0px 0px 25px;
    cursor: pointer;
}

.hands-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
    img {
        width: 100%;
    }
    .ok,
    .like {
        position: absolute;
        bottom: 0;
        width: 20%;
    }
    .ok {
        left: 0;
        transform-origin: bottom left;
        transform: rotate(90deg) translateY(0px);
        &.animate {
            animation: OK 4s cubic-bezier(1, -0.72, 0, 1.5) 1 forwards;
        }
    }
    .like {
        right: 0;
        transform-origin: bottom right;
        transform: rotate(90deg) translateX(100px);
        &.animate {
            animation: LIKE 6s cubic-bezier(1, -0.72, 0, 1.5) 1 forwards;
            animation-delay: 1s;
        }
    }
}

@keyframes OK {
    0% {
        transform: rotate(90deg) translateY(0px);
    }
    60% {
        transform: rotate(-10deg) translateY(70px) translateX(30px);
    }
    100% {
        transform: rotate(10deg) translateY(20px);
    }
}

@keyframes LIKE {
    0% {
        transform: rotate(90deg) translateX(100px);
    }
    60% {
        transform: rotate(-10deg) translateX(100px);
    }
    100% {
        transform: rotate(0) translateY(10px) translateX(0);
    }
}
