body {
  margin: 0;
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #1554f5;
}

.footer {
  padding: 13px;
}

.backdrop {
  background: rgba(255, 255, 255, 0.75) !important;
  z-index: 2 !important;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.winners-list {
  min-height: 220px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-left: 10px solid #1554f5;
  width: 430px;
}
.winners-list.close {
  right: -440px;
}
.winners-list .trophy-button + .MuiGrid-root {
  flex-wrap: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding-bottom: 30px;
}
.winners-list .congrats {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 72px;
  font-weight: 800;
  color: #fff;
}
.winners-list.open .winner.open,
.winners-list.open .confetti {
  left: calc(100% - 100vw) !important;
}
.winners-list.open .winner.open > div:last-of-type {
  z-index: 10;
  width: 100%;
  max-width: 1330px;
  box-shadow: 0px 4px 111px rgba(0, 0, 0, 0.13);
  border-radius: 77px;
  background: #fff;
  position: relative;
  overflow: hidden;
  padding-top: 130px;
  padding-bottom: 50px;
}
.winners-list.open .winner.open > div:last-of-type > * {
  z-index: 1;
}
.winners-list.open .winner.open > div:last-of-type::before {
  content: "Congratulations";
  position: absolute;
  z-index: 0;
  height: 492px;
  left: -320px;
  right: -320px;
  border-radius: 50%;
  top: -328px;
  background: #1554f5;
}
.winners-list.open .confetti {
  z-index: 5;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.winners-list.peak {
  right: 5px;
}
.winners-list .MuiTabs-root {
  border-bottom: 1px solid #dddddd;
}
.winners-list:hover .toolbar,
.winners-list:hover .toolbar .actions,
.winners-list:hover .MuiTabScrollButton-root:not(.Mui-disabled) {
  opacity: 1;
}
.winners-list .toolbar {
  opacity: 0.5;
  transition: opacity 0.4s ease-out;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: stretch;
  height: 35px;
}
.winners-list .toolbar > * {
  height: 100%;
}
.winners-list .toolbar .title {
  background: #1554f5;
  color: #fff;
  padding: 0 7px;
  text-transform: lowercase;
  font-variant: small-caps;
}
.winners-list .toolbar .actions {
  transition: opacity 0.4s ease-out;
  opacity: 0;
}
.winners-list .MuiTabs-flexContainer {
  padding: 0 14px;
}
.winners-list .MuiTabScrollButton-root {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 80px;
  opacity: 0;
}
.winners-list .MuiTabScrollButton-root svg {
  font-size: 3.25rem;
  color: #1554f5;
}
.winners-list .MuiTabScrollButton-root:first-of-type {
  left: 0;
  background: linear-gradient(90deg, #fff 33%, rgba(255, 255, 255, 0));
}
.winners-list .MuiTabScrollButton-root:last-of-type {
  right: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff 80%);
}
.winners-list .MuiTabs-indicator {
  display: none;
}

.winner-container {
  position: relative;
  max-height: 190px;
  min-width: 440px;
}
.winner-container .winner {
  cursor: pointer;
  padding: 13px;
  display: flex;
}
.winner-container .winner:not(.open) .picture {
  transition: box-shadow 0.2s ease-out;
}
.winner-container .winner:not(.open):hover .picture {
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.096);
}
.winner-container .winner:not(.open):active .picture {
  box-shadow: none;
}
.winner-container .winner.open {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.winner-container .winner.open .confetti {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.winner-container .winner.open .confetti img {
  width: 100%;
  height: 100%;
}
.winner-container .winner.open > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.winner-container .winner.open > div .picture {
  margin-right: 0;
  margin-bottom: 25px;
}
.winner-container .winner.open .picture {
  width: 140px;
  height: 140px;
}
.winner-container .winner .picture {
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 23px;
  width: 140px;
  min-width: 140px;
  height: 140px;
  margin-right: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.winner-container .winner .picture img {
  width: 90%;
}
.winner-container .winner .details {
  word-break: break-all;
  white-space: pre-wrap;
}
.winner-container .winner .details .school {
  font-style: normal;
  font-weight: 600;
  font-size: 29px !important;
  line-height: 43px;
  color: #5a5a5a;
}
.winner-container .winner .details .name {
  color: #1554f5;
  font-weight: 700 !important;
}
.winner-container .winner .details .item {
  font-size: 96px;
  color: #000;
  font-weight: 800;
}
.winner-container .winner .details .winning-the {
  margin-top: 28px;
  color: #2d66f6;
  font-weight: 700;
  font-size: 32px;
}

.raffle-container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.raffle-container .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}
.raffle-container .raffle-item-container {
  margin-bottom: 100px;
  text-align: center;
}
.raffle-container .raffle-item-container:hover .select {
  opacity: 1;
}
.raffle-container .raffle-item-container .select {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.raffle-container .raffle-item {
  background: transparent;
  border: none;
  outline: none;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 144px;
}
.raffle-container .raffler-container {
  height: 330px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.raffle-container .raffler-container::before, .raffle-container .raffler-container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 115px;
  z-index: 1;
}
.raffle-container .raffler-container::before {
  top: 0;
  background: linear-gradient(#fff, transparent);
}
.raffle-container .raffler-container::after {
  bottom: 0;
  background: linear-gradient(transparent, #fff);
}
.raffle-container .raffler-container .winner {
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: #1554f5;
  width: 100%;
  height: 70px;
  position: relative;
}
.raffle-container .raffler-container .winner::after, .raffle-container .raffler-container .winner::before {
  content: "";
  position: absolute;
  top: -4px;
  bottom: -4px;
  width: 370px;
  z-index: 3;
}
.raffle-container .raffler-container .winner::before {
  left: 0;
  background: linear-gradient(90deg, #fff, transparent);
}
.raffle-container .raffler-container .winner::after {
  right: 0;
  background: linear-gradient(-90deg, #fff, transparent);
}
.raffle-container .raffler-container .winner.saving::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7) url("/img/loading.svg") no-repeat center;
  width: 100%;
  height: 100%;
}
.raffle-container .raffler-container .participants {
  position: absolute;
  transform-origin: bottom;
  bottom: 144px;
  text-align: center;
  z-index: -1;
  width: 100%;
}
.raffle-container .raffler-container .participants p {
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
}

.spinning {
  -webkit-animation: spinning;
          animation: spinning;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0, 1.05, 0.75, 1);
          animation-timing-function: cubic-bezier(0, 1.05, 0.75, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.highlighted {
  color: #c62828;
}

.draw-button {
  padding: 10px 30px;
  width: 476px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 13px;
  outline: none;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 500;
  margin: 40px auto;
  transition: box-shadow 0.2s ease-out;
  background: #1554f5;
  box-shadow: 0px 4px 17px 14px rgba(0, 0, 0, 0.06);
  border-radius: 67px;
}
.draw-button.spin {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.draw-button:hover {
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.26);
}
.draw-button:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
}

.trophy-button {
  position: absolute !important;
  top: 58px;
  left: -111px;
  width: 102px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1554f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px 0px 0px 25px;
  cursor: pointer;
}
